.activity {
  background: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: initial;
  // width: 100%;
  padding-top: 10rem;
  min-width: 100rem;
  padding-bottom: 10rem;


  &__section-container {
    text-align: center;
    margin-bottom: 5.5rem;
    width: initial;
  }

  &__list {
    display: flex;
    justify-content: center;
    list-style: none;
  }

  &__item {
    transform: scale(1);

    &:not(:last-child) {
      margin-right: 3rem;
    }

    &--secondly {
      margin-top: 2rem;
    }
  }

  &__text {
    text-align: center;
    font-size: 2rem;
  }
  
  &:hover &__text {
    margin-top: 1rem;
    background-color: #777;
    color: #e74c3c;
  }

  &__container-img--left {
    width: 29rem;
    height: 20rem;
    transform: scale(1);
  }

  &__img {
    width: 29rem;
    height: 20rem;
    transform: scale(1);
  }

  &:hover &__img {
    transform: scale(1.1);
    transition: .3s ease-in-out;
  }
}