.dream {
  background: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: initial;
  padding-top: 10rem;
  min-width: 100rem;
  padding-bottom: 10rem;

  &__container {
    display: flex;
    width: 100%;
  }

  &__img {
    width: 50%;
    transform: scale(1);
  }

  &:hover &__img {
    transform: scale(0.8);
    transition: .3s ease-in-out;
  }
}