.mainvisual {
  background: transparent url("/src/img/man-731900_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 64%;
  position: relative;
  width: 100%;
  height: 100vh;
  
  &__logo {
    position: absolute;
    display: block;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    width: 38.3rem;
  }
}