.footer {
  background: transparent url("/src/img/artur-aldyrkhanov-CDpCbaOThwg-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  min-width: 100rem;
}