.header {
  width: 100%;
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 1000;
  box-sizing: border-box;
  padding: 0 3rem 0 3rem;
  margin: auto 0;
  height: 15rem;
  min-width: 100rem;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
  }

  &__logo {
    width: 15.5rem;
  }
}