.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  // position: fixed;
  // left: 0;
  // top: 0;
  // z-index: 20;
  // background-color: #fff;
  
  // &__container {
   
  // }

  &__logo {
    display: flex;
    height: auto;
    width: 15.5rem;

  }
}