.navigation {

  &__list {
    display: flex;
    height: auto;
    align-items: center;
    list-style: none;
  }

  &__item {
   padding:0 1.2rem 0 1.2rem;
   position: relative;
  }

  &__item::before {
    content: "";
    position: absolute;
    left: 0;
    height: 10px;
    width: 100%;
    transform: scaleY(-1);
    transition: transform 1s, width .1s .10s;
    // background-color: rgba(0, 0, 0, 0.082);
  }

  // &__item:hover::before {
  //   transform: scaleY(1);
  //   height: 10px;
  //   color: #fff;
  //   z-index: 100;
  // }

  &__link {
    font-size: 2.2rem;
    position: relative; 
    color: #333;    
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 7.6rem 3rem 4rem 3rem;
  }
}
