.navigation {
  width: 100%;
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 1000;
  box-sizing: border-box;
  padding: 0 3rem 0 3rem;
  margin: auto 0;
  height: 15rem;
  min-width: 100rem;

  @include respond(tab-port) {
    display: none;
  }
  

  &__list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: auto;
    align-items: center;
    list-style: none;
    margin: 0 auto;
   
  }

  &__item {
   padding:0 1.2rem 0 1.2rem;
   position: relative;
  }

  &__link {
    font-size: 2.2rem;
    position: relative; 
    color: #333;    
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    // padding: 7.6rem 3rem 4rem 3rem;
  }

  &__logo {
    width: 15rem;
  }
}
