.navigation {

  &__list {
    display: flex;
    height: auto;
    align-items: center;
    list-style: none;
  }

  &__item {
   padding:0 1.2rem 0 1.2rem;
  }

  &__text {
    font-size: 1.2rem;

  }
}