doctype html
html(lang="en")
  head
    title Jade
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    .header
      img.header__logo(src="/src/img/VSO-New-Logo-600.png", alt="picture")
      ul.navigation__list
        li.navigation__item 
          p.navigation__text Start here 
        li.navigation__item 
          p.navigation__text video
        li.navigation__item 
          p.navigation__text photo 
        li.navigation__item 
          p.navigation__text Design
        li.navigation__item 
          p.navigation__text Business
        li.navigation__item 
          p.navigation__text Resources
        li.navigation__item 
          p.navigation__text Login
        li.navigation__item
          a.navigation__icon 
