doctype html
html(lang="en")
  head
    title 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    .header
      img.header__logo(src="/src/img/logo.png", alt="picture")
      ul.navigation__list
        li.navigation__item 
          p.navigation__text コンセプト
        li.navigation__item 
          p.navigation__text 歴史
        li.navigation__item 
          p.navigation__text 活動内容
        li.navigation__item 
          p.navigation__text メンバー
        li.navigation__item 
          p.navigation__text お知らせ
        li.navigation__item
          p.navigation__icon カレンダー
        li.navigation__item
          p.navigation__icon スポンサー
    .mainvisual
      img.mainvisual__logo(src="/src/img/top3.png", alt="picture")
    .concept
      img.concept__logo(src="/src/img/t-1.png", alt="picture")
      p.concept__text コンセプト
      p.concept__date 2015年1月
      p.concept__keywords 「楽しい」「友達」「居場所」
      p.concept__longtext というキーワードをもとに、#[br]同級生3人で結成されたチーム #[br]“ぺーたーず“#[br]名前の由来は「遊牧民」#[br]メンバーそれぞれが個性を活かした#[br]生き方をしていて、#[br]場所や常識にとらわれず、#[br]身軽に自由に動いている。#[br]2016年にクラウドファンディングをおこない、その資金で東京にBARを開業。#[br]たのしいこと、ワクワクすることに周りを勝手に巻き込んでいく。
    .history
      img.history(src="/src/img/t-2.png", alt="picture")
      p.history__text ぺーたーずの歴史
      .history__container 
        img.history__img(src="/src/img/fr-1.jpg", alt="picture")
        p.history__text.history__text--secondly ホームページからこんにちは。ぺーたーずです。ぼくらは2015年に同級生3人で結成したチームで、はじめは3人で一緒にシェアハウスに住みながら、イベントをやったりしていました。
      img.history__logo(src="/src/img/line1.png", alt="picture")
      .history__container.history__container--secondly 
        p.history__text.history__text--tertiary 子どもの頃みたいに利害関係なく遊べる環境ってオトナになると減るよね、ってことで「楽しくて友達ができて居場所になる」ような空間をめざして、ほぼ赤字みたいな感じでイベントをやっていました。
        img.history__img.history__img--secondly(src="/src/img/fr-2.jpg", alt="picture")
      img.history__logo.history__logo--secondly(src="/src/img/line2.png", alt="picture")
      .history__container.history__container--tertiary
        img.history__img.history__img--tertiary(src="/src/img/fr-3.jpg", alt="picture")
        p.history__text.history__text--fourthly だんだんと100人規模のイベントもできるようになってきた頃、人が繋がるキッカケとなるBARを作ろう！と3人で決めました。お金がなかったのでクラウドファンディングという方法でネット上で資金を募り、なんと247万円ものお金があつまりました。いままでイベントに来てくれた友達や、SNSで活動を見てくれていた人たちが支援してくれました。
      img.history__logo.history__logo--tertiary(src="/src/img/line3.png", alt="picture")
      .history__container.history__container--fourthly
        img.history__img.history__img--fourthly(src="/src/img/fr-4.jpg", alt="picture")
        p.history__text.history__text--fifthly そして2017年4月に「ひみつきち」がコンセプトのCafe&Bar PATERSをオープン。内装工事もみんなでやって、みんなで作ったお店です。ありがとう。
      img.history__logo.history__logo--fourthly(src="/src/img/line4.png", alt="picture")
      .history__container.history__container--fifthly
        p.history__text.history__text--sixthly いまでは風とヒッピーの夫婦と、9人の個性豊かな運営メンバーが加わり、13人の仲間たちでワイワイやっております。というより、ぺーたーずが好きで関わってくれる人はみんな「身内」だと思っています（笑）
        img.history__img.history__img--fifthly(src="/src/img/fr-5.jpg", alt="picture")
      img.history__logo.history__logo--fourthly(src="/src/img/line5.png", alt="picture")
      .history__container.history__container--sixthly
      p.history__text.history__text--seventhly ぺーたーずの由来は「遊牧民」場所や常識にとらわれず身軽に自由に暮らしていくことを意味します。ロゴはヒツジ。二本足で立っているのは「常識にとらわれない」という意味。脚は音符になっていて「楽しい」を表しています。ぼくらの想いはあの頃からずっと変わりません。オトナが子どもみたいに遊んで、そこに人が集まって、人生が変わるような出会いが勝手に生まれたり、誰かの一歩踏み出すキッカケになったりして、大家族のような温かい居場所をつくっていくことです。
      p.history__text.history__text--eight 手のかかるヤツらですが、ぺーたーずをどうぞよろしくお願いします。
      img.history__img.history__img--sixthly(src="/src/img/fr-l.jpg", alt="picture")
    .activity
      img.activity__logo(src="/src/img/t-3.png", alt="picture")
      p.activity__text ぺーたーずの紹介
      ul.activity__list
        li.activity__item
          img.activity__img(src="/src/img/ac-1.jpg", alt="picture")
          p.activity__text Cafe & Bar PATERS
        li.activity__item 
          img.activity__img(src="/src/img/ac-2.jpg", alt="picture")
          p.activity__text ぺーたーずTV
        li.activity__item 
          img.activity__img(src="/src/img/ac-3.jpg", alt="picture")
          p.activity__text 風とヒッピー
      ul.activity__list
        li.activity__item
          img.activity__img(src="/src/img/ac-4.jpg", alt="picture")
          p.activity__text シェア
        li.activity__item
          img.activity__img(src="/src/img/ac-5.jpg", alt="picture")
          p.activity__text 絵本
      .activity__container
        .activity__whole-item
          img.activity__img.activity__img--seconldy(src="/src/img/paters-6.jpg", alt="picture")
          .activity__whole-item-body 
            p.activity__title Cafe & Bar PATERS
            p.activity__text.activity__text--secondly ぺーたーずメンバーで運営しているアットホームな空間「Cafe&Bar PATERS」クラウドファンディングで約250万円の資金をご支援いただき、2017年4月に東京の阿佐ヶ谷にオープン。学生から社会人、さまざまな職種やおもしろい生き方をしてる人があつまります。フリーランス多め。基本みんな自由人。コンセプトはひみつきち。
            ul.activity__list.acitvity__list--secondly
              li.activity__item.activity__item--secondly
                p.activity__text.activity__text--tertiary 東京都杉並区阿佐谷南1-33-5 2F
              li.activity__item.activity__item--secondly
                p.activity__text.activity__text--tertiary  03-5929-7033
              li.activity__item.activity__item--secondly
                p.activity__text.activity__text--tertiary 営業時間　18:00〜24:00
        ul.activity__list.acitvity__list--tertiary
          li.activity__item.activity__item--tertiary
            img.activity__logo.activity__logo--secondly(src="/src/img/b-1.jpg", alt="picture")
          li.activity__item.activity__item--tertiary
            img.activity__logo.activity__logo--secondly(src="/src/img/b-2.jpg", alt="picture")
          li.activity__item.activity__item--tertiary
            img.activity__logo.activity__logo--secondly(src="/src/img/b-3.jpg", alt="picture")
      .activity__whole-item.activity__whole-item--secondly
        img.activity__img.activity__img--tertiary(src="/src/img/activity2.jpg", alt="picture")
        .activity__whole-item-body.activity__whole-item-body--seondly
          p.activity__title.activity__title--secondly ぺーたーずTV
          p.activity__text.activity__text--fourthly たに・ジロ・しみの同級生3人組でやっているYouTubeチャンネル。日本全国を旅したり、ジブリをローコストで再現したり、おもしろい企画をしたり。週3ペースで笑える動画を更新。近いうち人気になってると思うのでチャンネル登録してね。
          img.activity__img.activity__img--fourthly(src="/src/img/b-5.jpg", alt="picture")
          ul.activity__list.activity__list--fourthly
            li.activity__item.activity__item--fourthly
              img.activity__logo.activity__logo--tertiary(src="/src/img/b-5.jpg", alt="picture")
            li.activity__item.activity__item--fourthly
              img.activity__logo.activity__logo--tertiary(src="/src/img/b-5.jpg", alt="picture")
            li.activity__item.activity__item--fourthly
              img.activity__logo.activity__logo--tertiary(src="/src/img/b-5.jpg", alt="picture")
      .activity__whole-item.activity__whole-item--secondly
        img.activity__img.activity__img--forthly(src="/src/img/activity3.jpg", alt="picture")
        .activity__whole-item-body.activity__whole-item-body--tertiary
          p.activity__title.activity__title--secondly 風とヒッピー
          p.activity__text.activity__text--fifthly ぺーたーずメンバーのユウキとはやては、付き合って12日で結婚した夫婦。最強の旦那を目指すこども夫はやて、自由人すぎるヒッピー妻ユウキ。結婚してすぐふたりでホームレスになったり、シェアハウスを運営したり、ハンドメイド結婚式をしたり。常識をぶち壊していく日本一アホな夫婦。
          img.activity__logo.activity__logo--fourthly(src="/src/img/b-6.jpg", alt="picture")
      .activity__whole-item.activity__whole-item--tertiary
        img.activity__img.activity__img--fifthly(src="/src/img/activity4.jpg", alt="picture")
        .activity__whole-item-body.activity__whole-item-body--tertiary
          p.activity__title.activity__title--tertiary シェアハウス
          p.activity__text.activity__text--sixthly メンバーのユウキが心と暮らしを育くむシェアハウス「とっと」夢追い人のたまり場シェアハウス「東京未来人アジト」の2つを運営。住人とぺーたーずメンバーも仲良しで、たのしく暮らしています。遊びにきてね。
      .activity__whole-item.activity__whole-item--tertiary
        img.activity__img.activity__img--sixthly(src="/src/img/activity5.jpg", alt="picture")
        .activity__whole-item-body.activity__whole-item-body--fourthly
          p.activity__title.activity__title--fourthly 絵本
          p.activity__text.activity__text--seventhly　ぺーたーずを題材にした絵本「ゆかいなヤツら」を2018年1月に販売スタート。製作資金はクラウドファンディングでご支援いただき（112万円）、発送作業などもみんなでおこないました。メンバーのしみが物語を書いて、友人のしようこさんが絵を描いてくれた作品です。90ページにもなるボリューム。いまの大人に向けて書いた絵本です。人生に悩んでいる人はぜひ。購入はこちらのオンラインショップから。
          img.activity__img.activity__img--fifthly(src="/src/img/b-6.jpg", alt="picture")






    





          

