doctype html
html(lang="en")
  head
    title 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    .header
      img.header__logo(src="/src/img/logo.png", alt="picture")
      ul.navigation__list
        li.navigation__item 
          p.navigation__text コンセプト
        li.navigation__item 
          p.navigation__text 歴史
        li.navigation__item 
          p.navigation__text 活動内容
        li.navigation__item 
          p.navigation__text メンバー
        li.navigation__item 
          p.navigation__text お知らせ
        li.navigation__item
          p.navigation__icon カレンダー
        li.navigation__item
          p.navigation__icon スポンサー
    .mainvisual
      img.mainvisual__logo(src="/src/img/top3.png", alt="picture")
    .concept
      img.concept__logo(src="/src/img/t-1.png", alt="picture")
      p.concept__text コンセプト
      p.concept__date 2015年1月
      p.concept__keywords 「楽しい」「友達」「居場所」
      p.concept__longtext というキーワードをもとに、#[br]同級生3人で結成されたチーム #[br]“ぺーたーず“#[br]名前の由来は「遊牧民」#[br]メンバーそれぞれが個性を活かした#[br]生き方をしていて、#[br]場所や常識にとらわれず、#[br]身軽に自由に動いている。#[br]2016年にクラウドファンディングをおこない、その資金で東京にBARを開業。#[br]たのしいこと、ワクワクすることに周りを勝手に巻き込んでいく。
    .history
      img.history(src="/src/img/t-2.png", alt="picture")



     

